argparse==1.2.1
wheezy.caching==0.1.91
wheezy.core==0.1.125
wheezy.html==0.1.138
wheezy.http==0.1.306
wheezy.routing==0.1.151
wheezy.security==0.1.58
wheezy.validation==0.1.120
wheezy.web==0.1.373
wsgiref==0.1.2
