body {
	font-family: Monospace;
	color: #00cc00;
	background-color: black;
}

a:link, a:hover, a:active, a:visited {
	color: #aaaaaa;	
}

/*head*/
.head {
	width: 880px;
	padding: 10px 0px 5px 0px;
	border-bottom: 1px #363636 solid;
}

/* navigation bar */
.navbar {
	min-height: 30px;
	width: 880px;
	border-bottom: 1px #363636 solid;
}

.navbar ul {
	width: 800px;
	list-style-type: none;
}

.navbar li {
	float: left;
	display: inline-block;
	margin: 0px;
	padding: 0px 20px 0px 20px;
}

.navbar a {
	padding: 0px 10px 3px 10px;
	display: block;
	color: #aaaaaa;
	text-decoration: none;
}

.navbar a:hover {
	border-bottom: 1px #006600 solid;
}

.navbar .selected {
	border-bottom: 1px #006600 solid;
}

#content {
	display: block;
	min-height: 360px;
	width: 780px;
	text-align: left;
}

footer {
	width: 880px;
	border-top:  1px #363636 solid;
	padding-top: 10px;
}

footer p {
	margin: 0.5em;
}
